

<%= form_with url: update_password_path(@user), local: true do |form| %>
  <% if @user.errors.present? %>
    <p>
      <%= @user.errors.full_messages.join(", ") %>
    </p>
  <% end %>
  <div class="form-group">
    <%= form.label :current_Password%>
    <%= form.password_field :current_password, class:"form-control" , placeholder: "Your existing Password" %>
  </div>

 <div class="form-group">
    <%= form.label :new_password %>
    
    <%= form.password_field :password, class:"form-control", placeholder: "Must be different from Current Password" %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class:"form-control", placeholder: "Must be same as New Password" %>
  </div>
  <%= form.submit "Update Password", class:"btn btn-outline-primary"%>
<% end %>