<%= form_with model: @post, local: true do |form| %>
  <% if @post.errors.present? %>
    <p>
      <%= @post.errors.full_messages.join(", ") %>
    </p>
  <% end %>

  <div class="form-group">
  

    <h5> <%= form.label :title %> </h5>

    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <h5> <%= form.label :body %> </h5>
    <%= form.text_area :body, class:"form-control" %>
  </div>

 
  <%= form.submit(@post.new_record? ? 'Create Post' : 'Update Post', class:"btn btn-outline-primary") %>
<% end %>