<div class="container">
  <div class="container">
    <h1> <%= @post.title %> </h1>

    <p class="over"><%= @post.body %></p>
    <small>
      <p>Posted <%= time_ago_in_words(@post.created_at) %> ago 
      by <em><%= @post.user.name %></em>|
       <%= pluralize(@post.likes.count, "like") %>
      </p>
    </small>
    </p>
  </div>
  <% if @like.present? %>
    <%= 
      link_to(
        "Unlike",
        post_like_path(@post, @like),
        method: :delete
      )
    %>
  <% else %>
    <%= 
      link_to(
        "Like",
        post_likes_path(@post),
        method: :post
      )
    %>
  <% end %>

   <% if can?(:crud, @post) %>
      <div class="container">
          <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-info'%>

          <%= link_to(
            'Delete',
            post_path(@post),
            method: :delete,
            class: 'btn btn-danger',
            data: { confirm: 'are you sure?' },
            )
          %>
          
      </div>
    <% end%>
  
      <br>

        
        <div class=container>
          <h3>Comments</h3>
          <%= form_with model: [@post, @comment], local: true do |f| %>
            <% if @comment.errors.present? %>
                <p>
                  <%= @comment.errors.full_messages.join(", ") %>
                </p>
            <% end %>
          <% if user_signed_in?  %> 
            <div class='form-group'>
              
              <%= f.text_area(
                :body,
                 

              class: 'form-control', placeholder: "What's on your mind?" )%>
            </div>
      
            <%= f.submit ("Submit"), class: "btn btn-outline-primary"%>
           
          <% end %>
        <% end %>
        </div><br>

    

    <% @comments.each do |comment| %>
    <div class=container>
        <p class="over"> <%= comment.body %> </p>
        <small>
          <p> Commented <%= time_ago_in_words(comment.created_at) %> ago by 
          <em><%= comment.user.name  || "[deleted]" %></em> 
          <% if can?(:crud, comment) %>  
              <%= link_to(
                    "Delete",
                    comment_path(comment),
                    method: :delete,
                    data: { confirm: 'delete this comment?' }
                    )
              %>

          <% end%>
           
          </p>
        </small>
    </div>
  <% end %>
</div>